@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 95%;
}

h2 {
  font-size: 150%;
}

p {
  margin-bottom: 20px;
  margin-top: 10px;
}

#pit-sizes {
  /* background: linear-gradient(to top left, #c2cac8, #e41a1a);
  border: none; */
  width: 100%;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 40%;
  text-align: start;
}

#components {
  color: black;
  background: linear-gradient(to top, #909094, #f5efef);
  width: 70%;
  height: fit-content;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border-radius: 15px;
}

#evoh {
  color: black;
  background: linear-gradient(to top left, #eee8e8, #444446);
  border: none;
  width: 20%;
  height: auto;
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

#hoses {
  color: black;
  background: linear-gradient(to top left, #444446, #eee8e8);
  border: none;
  width: 20%;
  height: auto;
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

#winch-set {
  color: black;
  background: linear-gradient(to top left, #eee8e8, #444446);
  border: none;
  width: 20%;
  height: auto;
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

#roll-pipe {
  color: black;
  background: linear-gradient(to top left, #444446, #eee8e8);
  border: none;
  width: 20%;
  height: auto;
  padding: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

#price {
  color: black;
  background: linear-gradient(to top left, #eee8e8, #444446);
  border: none;
  width: 20%;
  height: auto;
  padding: 2%;
  margin-bottom: 100%;
  float: left;
  text-align: start;
}

#logo {
  width: 10%;
  height: auto;
  margin-left: 90%;
  margin-bottom: 0;
}
